/**
 * @file
 * @group Sections
 * Sass Partial: sections/_experience.scss
 * 
 * Contains styling for the experience section.
 *
 * 1. Base - Basic styling
 */


/*
 * 1. Base
 *************/

.contact {
  font-family: var(--font-stack-heading);
  font-size: 1.3em;
  margin-top: 3em; 
  text-align: center;
}
