/**
 * @file
 * @group Modules
 * Sass Partial: modules/_button.scss
 * 
 * Contains styling for buttons.
 *
 * 1. Config - Configuration and variables
 * 2. Base - Basic styling
 * 3. Contextual - Contains styling when in a combination of other modules
 */

/*
 * 2. Base
 ******************/

.button {
  background: var(--button-color);
  color: var(--button-text-color);
  display: inline-block;
  padding: 0.4em 0.8em;
  text-decoration: none;
  position: relative;
  transition: background-color 0.15s ease-out;
}
  
.button:visited {
  background-color: var(--button-color--visited);
  color: var(--button-text-color);
}

.button:hover {
  background: var(--button-color--hover);
  color: var(--button-text-color);
}


/*
 * 3. Contextual
 ******************/

/* Extra margin right of the icon when in a button. */
.button.icon:before {
  margin-right: 0.5em; 
}
