/**
 * @file
 * @group Structure
 * Sass Partial: layout/_footer.scss
 * 
 * Contains footer styling.
 *
 * 1. Config - Configuration and variables
 * 2. Base - Basic styling
 */


/*
 * 1. Config
 ****************/


/*
 * 2. Base
 **************/

.page-footer {
  font-size: 0.8em;
  margin-bottom: 3em;
  margin-top: 1.5em; 
  text-align: center;
}