/**
 * @file
 * @group Structure
 * Sass Partial: layout/_responsive.scss
 * 
 * Contains overall responsive rules.
 */

@include media($tablet) {

  // Reset to one column on tablet (and smaller).
  .container .main, .container .aside,
  ul.container li {
    @include span-columns(8);
    @include shift(0);
    
    float: none;
    margin-bottom: 2em; 
  }
  
  // Responsive rules for the greeting section
  .greeting {
    h1 {
      margin: 1em;
      text-align: center;
    }
  }
  
  // Side padding for readability on tablet and smaller.
  .introduction, .experience, .examples {
    padding-left: 2em;
    padding-right: 2em;
  }
  
  // Responsive rules for the examples section.
  .examples {
    // The Promo heading should not be centered on smaller 
    // screens since everything is in one column anyways.
    .promo-heading--centered {
      text-align: left;
    }
  }
}