/**
 * @file
 * @group Modules
 * Sass Partial: modules/_button.scss
 * 
 * Contains styling for buttons.
 *
 * 1. Config - Configuration and variables
 * 2. Base - Basic styling
 * 3. Contextual - Contains styling when in a combination of other modules
 */


/*
 * 1. Config
 ******************/

$button-color: #1abc9c;
$button-border-color: #16a085;
$button-text-color: #fff;


/*
 * 2. Base
 ******************/

.button {
  @include transition(background-color 0.15s ease-out);

  background: $button-color;
  border-bottom: 3px solid $button-border-color;
  border-radius: 4px;
  color: $button-text-color;
  display: inline-block;
  padding: 0.4em 0.8em;
  text-decoration: none;
  position: relative;
  
  &:visited {
    background-color: darken($button-color, 5%);
    border-color: darken($button-border-color, 5%);
    color: $button-text-color;
  }

  &:hover {
    background: lighten($button-color, 5%);
    border-bottom-color: darken($button-border-color, 5%);

    color: $button-text-color;
  }
}


/*
 * 3. Contextual
 ******************/

// Extra margin right of the icon when in a button.
.button.icon:before {
  margin-right: 0.5em; 
}
