/**
 * @file
 * @group Modules
 * Sass Partial: modules/_icon.scss
 * 
 * Contains styling for the svg icons.
 *
 * 1. Config - Configuration and variables
 * 2. Base - Basic styling
 */


/*
 * 1. Config
 ******************/


/*
 * 2. Base
 ******************/

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  margin-right: 0.3em;
}
