/**
 * @file
 * @group Modules
 * Sass Partial: modules/_photo.scss
 * 
 * Contains styling for photos.
 *
 * 1. Config - Configuration and variables
 * 2. Base - Basic styling
 */


/*
 * 2. Base
 ******************/

// Basic styling for a photo/portrait
.photo {
  border-radius: 50%;
  max-width: 100%;
  overflow: hidden;
}
