/**
 * @file
 * @group hampusnordin
 * 
 * Contains base styling and resets.
 */

html, body {
  margin: 0;
  padding: 0;
}

html {
  background: var(--color-background);
}

body {
  color: var(--color-text);
  font: 300 18px/1.6 var(--font-stack-base);
}

h1, h2, h3, h4 {
  font-family: var(--font-stack-heading); 
  margin: 0.6em 0 0.2em;
}
h1, h2, h3 {
  font-weight: 200;
}
h2 {
  font-size: 1.2em;
  font-weight: 400;
  margin-bottom: 0.7em;
  margin-top: 1.5em; 
}
h3 {
  font-size: 1em;
  font-weight: 400;
  margin-bottom: 0em;
}
h4 {
  font-size: 1.1em; 
  font-weight: 400; 
}

p {
  margin: 0 0 0.8em;
}

strong {
  font-weight: 400; 
}

img {
  height: auto;
  max-width: 100%;
}

a {
  color: var(--color-text);
}  

a:visited {
  color: var(--color-text--visited);
}

a:hover {
  color: var(--color-text--hover);
  text-decoration: none;
}
