/**
 * @file
 * @group Sections
 * Sass Partial: sections/_experience.scss
 * 
 * Contains styling for the experience section.
 *
 * 1. Config - Configuration and variables
 * 2. Base - Basic styling
 * 3. Responsive - Responsive rules
 */


/*
 * 2. Base
 **************/

// Basic styling for a photo/portrait
.experience {
  h2 {
    font-size: 1.2em;
    font-weight: 400;
    margin-bottom: 0.7em;
  }

  .flex-column {
    @include flex(1);
    
    &:nth-last-child(n+2) {
      margin-right: 4em; 
    }
  }
}


/*
 * 3. Responsive
 *******************/

@include mq($tablet) {
  .experience {
    .container {
      @include display(block);
    }

    .flex-column {
      &:nth-last-child(n+2) {
        margin-right: 0; 
      }
    }
  }
}
