/**
 * @file
 * @group Sections
 * Sass Partial: sections/_greeting.scss
 * 
 * Contains styling for the greeting section.
 *
 * 1. Config - Configuration and variables
 * 2. Base - Basic styling
 * 3. Responsive - Responsive rules
 */


/*
 * 1. Config
 ****************/

$background: #34495e;
$background-alt: #2c3e50;
$color: #fff;


/*
 * 2. Base
 **************/

.greeting {
  @include clearfix;

  background: $background;
  color: $color;
  margin-bottom: 1em; 
  padding-bottom: 3em; 
  padding-top: 3em;
  position: relative;
  
  .container.flex {
    @include align-items(center);
    position: relative;
    z-index: 2;
  }

  .photo-wrapper {
    margin: 0 2em 0 0;
    width: 240px;
  }

  .photo {
    box-shadow: 0.4rem 0.4rem 0 0.2rem $background-alt;
  }

  h1 {
    @include flex(1);
    
    margin: 0;
  }

  svg {
    fill: $background-alt;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: auto;
  }
}


/*
 * 3. Responsive
 *******************/

@include mq($tablet) {
  .greeting {
    text-align: center;

    .container {
      @include display(block);
    }

    // Center photo on tablet
    .photo-wrapper {
      margin-left: auto;
      margin-right: auto;
      max-width: 400px;
      width: auto;
    }

    h1 {
      margin-top: 2em;
    }
  }
}
