/**
 * @file
 * @group Structure
 * Sass Partial: layout/_structure.scss
 * 
 * Contains overall structure.
 *
 * 1. Config - Configuration and variables
 * 2. Base - Basic styling
 * 3. Footer - Footer related styling
 */


/*
 * 2. Base
 **************/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.container {
  margin-left: auto;
  margin-right: auto;  
  max-width: var(--container-width);
}

.section {
  padding-left: 2em;
  padding-right: 2em;  
}

.flex {
  display: flex;
}

.flex-column {
  /* Needs a width constraint to calculate the flex properly. Primarly an issue in FireFox. http://www.w3.org/TR/css3-flexbox/#valdef-min-width-min-height-auto */
  min-width: 1px;
}


/*
 * 3. Footer
 ****************/

.page-footer {
  font-size: 0.9em; 
  padding: 1em 1em 5em;
  text-align: center;
}
